{% extends 'base.html' %} {% block body %}
<h1>Ip List</h1>
<div id="content-main">
<table cellspacing="1">
    <thead>
        <tr>
            <th>no.</th>
            <th>ip name</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        {% for name in list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="/ip/info/{{ name }}/">{{ name }}</a></td>
            <td><a href="/ip/delete/{{ name }}/">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
